body{
    margin:0;
    padding:0;
    /* text-align: center; */
    /* background-image: url(voting.jpg);
    height: 100%; 
    /* background-repeat: no-repeat; */
  /* background-size: cover;  */
  /* background-image: linear-gradient(#cc2b5e, #753a88); */
  background: #cc2b5ec8;
}
#headerSection{
    padding:5px;
    text-align: center;
}
#headerSection h1{
    font-family: 'Courier New', Courier, monospace;
}
#container{
    position:absolute;
    top:50%;
    left:49%;
    margin-top:10%;
    -webkit-transform:translate(-50%,-40%);
    -moz-transform:translate(-50%,-40%);
    -ms-transform:translate(-50%,-40%);
    -o-transform:translate(-50%,-40%);
    transform:translate(-50%,-40%);
    border:1px solid black;
    width:300px;
    height:460px;
    background: rgba(0,0,0,0.6);
    /* padding:80px 40px; */
    /* height:20rem; */
    margin:20px;
    /* display:flex; */
    /* padding:1rem; */
    /* transform: translate(10rem,1rem); */
}
.avatar{
    position: absolute;
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
    top:calc(-50px/2);
    left:125px;
}
#container h3{
    padding:10px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
}
#container p{
    margin: 10px;
    padding: 0;
    margin-left: 15px;
    font-weight: bold;
    color: #fff;
}
#container input{
    width:80%;
    margin-bottom: 20px;
    margin: 1px;
    margin-left: 15px;
    padding: 7px;
    border-radius: 5px;
}
#container input[type=number],
#container input[type=password],

#dropbox
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}
#dropbox{
    margin:10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    margin-left: 15px;
    width: 90%;
    color: grey;
}
#loginbtn{
    padding: 7px;
    width:90%;
    margin: 10px;;
    font-size: 15px;
    border-radius: 5px;
    /* margin-right: 30px; */
}
#loginbtn:hover{
    background-color: pink;
    cursor: pointer;
}
.notUser{
    /* margin-left: 15px; */
    color: #fff;
    text-align: center;
}
.notUser a{
    color: grey;
    text-decoration: none;
    font-size: 20px;
}
.notUser a:hover{
    color:antiquewhite;
    text-decoration: underline;
}